# Mac OS files
.DS_Store
# HTML files
.html
# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# spThin files
spatial_thin_log.txt
# worldclim files
wc*
cmip5
# r proj files
.Rproj.user
.RData
# .rmd files
temp*
#
KeepNA
keepInteger
inst/doc
*Thumbs.db
