#logHeader {
	position:relative;
	min-height:90px;
	background: inherit;
	z-index:10;
}
#logContent {
  position:absolute;
  z-index: 5;
}
.scrollbox {
  height:100px;
  width:600px;
  padding:5px;
  overflow:auto;
  border:1px solid green;
}
#title1 {
  font-size:30pt;
}
#title2 {
  font-size:10pt;
}
#title3 {
  font-size:7pt;
}
