.panel-title {
  color: green;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 5px 5px 5px;
  border: 4px solid green;
}

#logHeader {
	position:relative;
	min-height:90px;
	background: inherit;
	z-index:10;
}
#logContent {
  position:absolute;
  z-index: 5;
}
.scrollbox {
  height:100px;
  width:450px;
  padding:5px;
  overflow:auto;
  border:1px solid green;
}
hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
#title1 {
  font-size:30pt;
}
#title2 {
  font-size:10pt;
}
#title3 {
  font-size:7pt;
}
#rpkg {
  font-size:12pt;
  font-weight:bold;
}
#mod {
  color:purple; 
  font-size:18pt; 
  font-weight:bold;
}
#step {
  color:red;
  font-weight:bold;
  display:inline;
  font-size:14pt;
}
#stepText {
  font-style:italic;
  display:inline;
  font-size:14pt;
}
#pkgDes {
  font-size:10pt; 
  font-style:italic;
}
#pkgSm {
  font-size:8pt; 
  font-style:italic;
  color:gray;
}
#ref {
  font-size:9pt; 
  font-style:italic;
}
.shiny-progress .bar {
  background-color:#FF0000;
  opacity:0.8;
}
.shiny-progress .progress {
  height:7px;
}