#logHeader {
	position:relative;
	min-height:90px;
	background: inherit;
	z-index:10;
}
#logContent {
  position:absolute;
  z-index: 5;
}
#wallaceLog {
  height:100px;
  width:450px;
  padding:5px;
  overflow:auto;
  border:1px solid green;
}
hr {
    border: none;
    height: 5px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.shiny-progress .bar {
  background-color:#FF0000;
  opacity:0.8;
}
.shiny-progress .progress {
  height:7px;
}

.rpkg {
  font-size:12pt;
  font-weight:bold;
}
.mod {
  color:purple;
  font-size:18pt;
  font-weight:bold;
}
.pkgDes {
  font-size:10pt;
  font-style:italic;
}


.step {
  color:red;
  font-weight:bold;
  font-size:14pt;
}
.stepText {
  font-style:italic;
  font-size:14pt;
}

.butResOccs {
  background-color: #C51E10;
  color: white;
  padding: 5px 5px;
  border: none;
}
.butResOccs:hover {
  background-color: #830D03;
  color: white;
}
.butResPj {
  background-color: #C51E10;
  color: white;
  padding: 1px 1px;
  border: none;
}
.butResPj:hover {
  background-color: #830D03;
  color: white;
}
.leaflet-top {
  z-index: 999 !important;
}

#save_warning {
  color: red;
}
